.deposit_container {
  margin-top: 20px;
  background-color: var(--bgblue-three);
  border-radius: 7px;
  padding: 22px;
  color: var(--subtext);
  font-size: 1rem;
  box-shadow: var(--boxshadow);
}
.deposit_subheader {
  font-size: 1.25rem;
  width: 100%;
  margin: 15px 0px 15px 0px;
}
.button_wrapper {
  margin: 40px 10px 10px 10px;
}
.calculate_btn__depo {
  padding: 15px 20px;
  border: 1.5px solid var(--whitemilk);
  color: var(--subtext);
  width: 100%;
  font-size: .9rem;
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all linear;
}
.calculate_btn__depo:hover {
  color: hsl(197, 49%, 20%);
  background: var(--whitemilk);
}
.amount_text__depo {
  font-size: 1rem;
  color: var(--textspan);
}
/* .active {
  color: var(--whitemilk);
} */
.amount_text__depo span {
  color: var(--text-two);
  font-weight: 700;
  font-size: 1.1rem;
}
