.currency_container {
  margin-top: 20px;
    margin-bottom: 20px;
    background: var(--whitemilk);
    border: 1px solid var(--whitemilk);
    border-radius: 7px;
    padding: 4px;
    color: var(--darkblue);
  }