/* :root {
    --whitemilk: hsl(197, 50%, 93%);
    --darkblue: hsl(197, 70%, 12%);
    --mediumblue: hsl(197, 49%, 20%);
    --bgblue:hsl(197, 49%, 40%);
    --lightblue: hsl(197, 49%, 60%);
    --lightgrey: hsl(0, 0%, 56%);
    --errorred: hsl(0, 79%, 58%);
    } */
.main_app {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Inconsolata", monospace;
}